@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <h1>CochesCutres.com</h1>
    <p class="lead">CochesCutres.com es la pagina mas cutre donde guardar tus operaciones, vehiculos, clientes y empleados</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Para Empezar</h2>
        <p>
            Aquí no solo no te ayudaremos en nada, si no que además te mostraremos personas que no existen
        </p>
        <p><a class="btn btn-default" href="https://google.es">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Además</h2>
        <p>Sufrirás para poder navegar por esta interfaz mal hecha</p>
        <p><a class="btn btn-default" href="https://google.es">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sin embargo</h2>
        <p>Siempre te quedará pinchar aquí para ir a una pagina decente como autoscout24</p>
        <p><a class="btn btn-default" href="https://autoscout24.com">Learn more &raquo;</a></p>
    </div>
</div>